<script type="text/javascript">
  <% if logged_in? %>
  window.currentUser =
  <%= render("api/users/show.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>

<div id="root">
  <h1>Singtactic Structures</h1>
</div>
