// Place all the styles related to the api/annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$singuist-blue: #64CDFD;

.annotation {
    background-color: #ccc;
    border: 1px solid #ddd;
}

.annotation:hover {
    cursor: pointer;
    background-color: $singuist-blue;
    transition: 1s;
}

p {
    display: inline;
}

.annotation-form {
    h2 {
        font-weight: 700;
        color: $singuist-blue;
    }
    .DraftEditor-editorContainer {
        background-color: #eee;
        border: 3px solid #ddd;
        padding: 15px 5px;
        margin: 10px 0;
    }
}

.annotation-detail > *{
    margin: 10px 0;
}

.annotation-submit, .edit-button, .create-button {
    display: block;
    color: #3a3;
    border: 3px solid #3a3;
    padding: 4px;
    height: 33px;
}

.annotation-submit:hover, .edit-button:hover, .create-button:hover {
    cursor: pointer;
}

.upvote {
    padding-right: 5px;
}

.upvoted {
    color: $singuist-blue;
    transition: 0.25s;
}

.not-upvoted {
    color: #000;
    transition: 0.25s;
}

.annotation-display {
    margin-left: 20px;
}

.annotation-display:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 5px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-right: 20px solid $singuist-blue;
}

.create-flex {
    display: flex;
    width: 40%;
    justify-content: center;
}