// Place all the styles related to the api/annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$singuist-blue: #64CDFD;

.annotation {
    background-color: #ccc;
    border: 1px solid #ddd;
}

.annotation:hover {
    cursor: pointer;
    background-color: $singuist-blue;
    transition: 1s;
}

p {
    display: inline
}

.annotation-form {
    h2 {
	font-weight: 700;
	color: $singuist-blue;
    }
    .DraftEditor-editorContainer {
	background-color: #eee;
	border: 3px solid #ddd;
	padding: 15px 5px;
	margin: 10px 0;
    }
    .annotation-submit {
	color: #3a3;
	border: 3px solid #3a3;
	padding: 4px;
    }
    .annotation-submit:hover {
	cursor: pointer;
    }
    
}

.annotation-display:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-right: 20px solid $singuist-blue;
}
