$nav-bar-blue: #64CCDD;

.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: $nav-bar-blue;
    .auth {
	display: flex;
	justify-content: right;
	align-items: center;
	* {
	    margin: auto 10px;
	}
    }
}