$nav-bar-blue: #64CDFD;

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $nav-bar-blue;
    height: 40px;
    * {
	padding: 0px 8px;
	margin: 0 5px;
    }
}

.auth {
    font-size: 80%;
    display: flex;
    justify-content: flex;
    .auth-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 120%;
	margin: auto;
    }    
}

/* ReactModal__Overlay { */
/*     height: 200px; */
/*     display: flex; */
/*     background-color: green; */
/*     flex-direction: column; */
/* } */